@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');

:root{
  --blue-color:#372c9c;
  --violet-color:#04619f ;
  --white-color:#ffffff;
  --black-color:#000000;
  
}
*, 
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
body{
  font-family: 'Poppins' sans-serif;
  height: 100vh;
  /* background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%); */
  background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  color: var(--black-color);

}
.container{
  width: 45%;
  min-width: 40rem;
  /* background-color: #fee2f8;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%); */
  /* background-color: #2884b8;
  background-image: linear-gradient(315deg, #2884b8 0%, #d1bad2 74%); */
  /* background-color: #7ed6df;
  background-image: linear-gradient(315deg, #7ed6df 0%, #000000 74%); */ background-color: #f907fc;
background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
  
  padding: 4rem 3rem;
  position: absolute;
  top: 50%;
  left:50% ;
  transform: translate(-50%, -50%);
  border-radius: 0.8rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);

}
header{
  min-height: 2.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;

}
header .title{
  font-weight:700 ;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}
.scores{
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.weapons{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.weapons button{
  background-color: rgb(7, 65, 104);
  color: var(--white-color);
  border: none;
  font-size: 3rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
.details{
  margin-top: 3rem;
  text-align: center;
}
#result{
  width: 15rem;
  padding: 1rem 0;
  margin: 2.5rem auto;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
#u-choice,
#comp-choice{
  font-weight: 400;
  margin-bottom: 0.5rem;
}
span{
  font-weight: 900;
}
button{
  background-color: #d9c7e7;
  border-radius: 13px;
  width: 100px;
  height: 40px;
  font-size: medium ;
  font-weight: bolder;
}
a{
  color: #04619f;
  text-decoration: none;
}
